h3 {
    padding-top: 1rem;
}

#future5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 
.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}

/*UV index*/
.fair {
    border-radius: 10px;
    padding: 5%;
    background-color: green;
    color: white;
}

.moderate {
    border-radius: 10px;
    padding: 5%;
    background-color: orange;
    color: white;
}

.severe {
    border-radius: 10px;
    padding: 5%;
    background-color: red;
    color: white;
}